@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
    /* font-family: var(--font-test); Não funciona */
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    width: 50%;
    overflow: hidden;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  h1,
  h2,
  h3 {
    font-weight: 600;
  }
}

/* Roxinho moderno */
::selection {
  background-color: #8b5cf6;
  color: white;
}
